.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;
    + .wrapper {
        margin-left: 8px;
    }
}
.primary {
    background-color: var(--primary);
    color: var(--white);
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
    text-align: center;
    display: block;
}
.medium {
    min-width: 164px;
    min-height: 36px;
}
.outline {
    color: var(--primary);
    border-color: currentColor;
    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}
.maxLarge {
    width: 94%;
    height: 100%;
    min-width: 140px;
    padding: 14px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text {
    padding: 7px 16px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    &:hover {
        background-color: #f8f8f8;
    }
}
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    border-color: rgba(22, 24, 35, 0.12);
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}
