.wrapper {
    padding: 16px 0 8px 0;
    border-top: 1px solid rgba(22, 24, 35, 0.12);
}
.title {
    font-size: 1.4rem;
    font-weight: 600;
    color: #5c5e66;
    padding-bottom: 8px;
}
.discover {
    display: flex;
    flex-wrap: wrap;
}
.hashtag {
    width: fit-content;
    max-width: calc(100% - 8px);
    height: 2.4rem;
    border: 1px solid rgba(22, 24, 35, 0.2);
    border-radius: 12px;
    margin-right: 8px;
    margin-bottom: 12px;
    padding: 3px 10px;
    display: flex;
    align-items: center;
}
.icon {
    flex-shrink: 0;
    font-size: 1.4rem;
    color: rgba(14, 16, 21, 0.75);
}
.text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(22, 24, 35, 0.75);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8rem;
    padding-left: 6px;
}
